<div class="container-fluid pr-5 pl-5">
    <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch justify-content-center">
            <a href="/model_cars" class="preview-text">
                <div class="card card-raise">
                    <img src="{{url_for('static', filename='mcimg.jpg')}}" class="img-responsive preview-img">
                    <h4>Model Cars</h4>
                </div>
            </a>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch justify-content-center">
            <a href="/helmets" class="preview-text">
                <div class="card card-raise">
                    <img src="{{url_for('static', filename='helmetimg.jpg')}}" class="img-responsive preview-img">
                    <h4>Helmets</h4>
                </div>
            </a>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch justify-content-center">
            <a href="/clothes" class="preview-text">
                <div class="card card-raise">
                    <img src="{{url_for('static', filename='clothingimg.jpg')}}" class="img-responsive preview-img">
                    <h4>Clothing</h4>
                </div>
            </a>
        </div>
    </div>
</div>