{% extends "base.html" %}

{% block title %}
Checkout
{% endblock %}

{% block info %}
{% include "/includes/navbar.html" %}
{% include "/includes/flashhandle.html" %}

<div class="container mt-4 d-flex justify-content-center">
    <div class="card" id="checkout-card">
        <div class="px-3 pt-4">
            <div>
                <div class="pull-right">
                    <span>£</span><span class="total">{{"%.2f"|format(TOTAL)}}</span>
                </div>
            </div>
        </div>
        <form action="{{url_for('perspectives.receipt')}}" method="post">
            <div class="row px-3 pt-3">
                <div class="col-sm">
                    <label id="firstnamelbl">First Name*</label>
                    <input type="text" 
                    class="form-control"                                        
                    id="firstnametxt">
                </div>
                <div class="col-sm">
                <label id="secondnamelbl">Second Name*</label>
                <input type="text" 
                class="form-control"                                
                id="secondnametxt">
            </div>
            </div>

            <div class="px-3 pt-3">
                <label id="emaillbl">Email*</label>
                <input type="email" 
                class="form-control"                                
                id="emailtxt">
                <div class="checkout-js" id="email"></div>
            </div>

            <div class="px-3 pt-3">
                <label id="cardlbl">Card Number*</label>
                <input type="text" 
                class="form-control" 
                placeholder="XXXX XXXX XXXX XXXX"
                data-mask="0000 0000 0000 0000"                                
                id="cardtxt">
                <div class="checkout-js" id="card"></div>
            </div>

            <div class="row px-3 pt-3">
                <div class="col-sm">
                    <label id="expirylbl">Expiry*</label>
                    <input type="text"
                    class="form-control"
                    placeholder="MM / YY"
                    data-mask="00 / 00"                                        
                    id="expirytxt">
                    <div class="checkout-js" id="expiry"></div>
                </div>
                <div class="col-sm">
                    <label id="cvvlbl">CVV / CVC*</label>
                    <input type="password" 
                    class="form-control" 
                    placeholder="XXX"
                    data-mask="000"                                        
                    id="cvvtxt">
                    <div class="checkout-js" id="cvv"></div>
                </div>
            </div>

            <div class="d-flex justify-content-between px-3 py-4">
                <div>
                    <a href="/basket">
                        <button type="button" class="btn"><span class="bi-x"></span></button>
                    </a>
                </div>
                <div>
                    <button type="submit" class="btn" id="purchase"><span class="bi-check2-square"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
